antbaric_aplikacija_2_1/src/conf/xml-resources/web-service-references/MeteoWS/wsdl/localhost_8084/antbaric_aplikacija_1/MeteoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://soap.antbaric.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.antbaric.nwtis.foi.org/">

<xs:element name="getDeviceAddress" type="tns:getDeviceAddress" />

<xs:element name="getDeviceAddressResponse" type="tns:getDeviceAddressResponse" />

<xs:element name="getDeviceMeteoForInterval" type="tns:getDeviceMeteoForInterval" />

<xs:element name="getDeviceMeteoForIntervalResponse" type="tns:getDeviceMeteoForIntervalResponse" />

<xs:element name="getLastDeviceMeteo" type="tns:getLastDeviceMeteo" />

<xs:element name="getLastDeviceMeteoResponse" type="tns:getLastDeviceMeteoResponse" />

<xs:element name="getLatestDeviceMeteo" type="tns:getLatestDeviceMeteo" />

<xs:element name="getLatestDeviceMeteoResponse" type="tns:getLatestDeviceMeteoResponse" />

<xs:element name="getLiveDeviceMeteo" type="tns:getLiveDeviceMeteo" />

<xs:element name="getLiveDeviceMeteoResponse" type="tns:getLiveDeviceMeteoResponse" />

<xs:complexType name="getLastDeviceMeteo">
<xs:sequence>
<xs:element name="device" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastDeviceMeteoResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteo" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteo">
<xs:complexContent>
<xs:extension base="tns:model">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="adresa_stanice" type="xs:string" minOccurs="0" />
<xs:element name="latitude" type="xs:double" minOccurs="0" />
<xs:element name="longitude" type="xs:double" minOccurs="0" />
<xs:element name="vrijeme" type="xs:string" minOccurs="0" />
<xs:element name="vrijeme_opis" type="xs:string" minOccurs="0" />
<xs:element name="temp" type="xs:double" minOccurs="0" />
<xs:element name="temp_min" type="xs:double" minOccurs="0" />
<xs:element name="temp_max" type="xs:double" minOccurs="0" />
<xs:element name="vlaga" type="xs:double" minOccurs="0" />
<xs:element name="tlak" type="xs:double" minOccurs="0" />
<xs:element name="vjetar" type="xs:double" minOccurs="0" />
<xs:element name="vjetar_smjer" type="xs:double" minOccurs="0" />
<xs:element name="preuzeto" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="model" abstract="true">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDeviceAddress">
<xs:sequence>
<xs:element name="device" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDeviceAddressResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLatestDeviceMeteo">
<xs:sequence>
<xs:element name="device" type="xs:int" minOccurs="0" />
<xs:element name="N" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLatestDeviceMeteoResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteo" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLiveDeviceMeteo">
<xs:sequence>
<xs:element name="device" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLiveDeviceMeteoResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteo" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDeviceMeteoForInterval">
<xs:sequence>
<xs:element name="device" type="xs:int" minOccurs="0" />
<xs:element name="from" type="xs:long" minOccurs="0" />
<xs:element name="to" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDeviceMeteoForIntervalResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteo" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>