antbaric_aplikacija_2_1/src/conf/wsdl/localhost_8084/antbaric_aplikacija_1/MeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.antbaric.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.antbaric.nwtis.foi.org/" name="MeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.antbaric.nwtis.foi.org/" schemaLocation="http://localhost:8084/antbaric_aplikacija_1/MeteoWS?xsd=1" />
</xsd:schema>
</types>
<message name="getLatestDeviceMeteo">
<part name="parameters" element="tns:getLatestDeviceMeteo" />
</message>
<message name="getLatestDeviceMeteoResponse">
<part name="parameters" element="tns:getLatestDeviceMeteoResponse" />
</message>
<message name="getDeviceMeteoForInterval">
<part name="parameters" element="tns:getDeviceMeteoForInterval" />
</message>
<message name="getDeviceMeteoForIntervalResponse">
<part name="parameters" element="tns:getDeviceMeteoForIntervalResponse" />
</message>
<message name="getLiveDeviceMeteo">
<part name="parameters" element="tns:getLiveDeviceMeteo" />
</message>
<message name="getLiveDeviceMeteoResponse">
<part name="parameters" element="tns:getLiveDeviceMeteoResponse" />
</message>
<message name="getDeviceAddress">
<part name="parameters" element="tns:getDeviceAddress" />
</message>
<message name="getDeviceAddressResponse">
<part name="parameters" element="tns:getDeviceAddressResponse" />
</message>
<message name="getLastDeviceMeteo">
<part name="parameters" element="tns:getLastDeviceMeteo" />
</message>
<message name="getLastDeviceMeteoResponse">
<part name="parameters" element="tns:getLastDeviceMeteoResponse" />
</message>
<portType name="MeteoWS">
<operation name="getLatestDeviceMeteo">
<input wsam:Action="http://soap.antbaric.nwtis.foi.org/MeteoWS/getLatestDeviceMeteoRequest" message="tns:getLatestDeviceMeteo" />
<output wsam:Action="http://soap.antbaric.nwtis.foi.org/MeteoWS/getLatestDeviceMeteoResponse" message="tns:getLatestDeviceMeteoResponse" />
</operation>
<operation name="getDeviceMeteoForInterval">
<input wsam:Action="http://soap.antbaric.nwtis.foi.org/MeteoWS/getDeviceMeteoForIntervalRequest" message="tns:getDeviceMeteoForInterval" />
<output wsam:Action="http://soap.antbaric.nwtis.foi.org/MeteoWS/getDeviceMeteoForIntervalResponse" message="tns:getDeviceMeteoForIntervalResponse" />
</operation>
<operation name="getLiveDeviceMeteo">
<input wsam:Action="http://soap.antbaric.nwtis.foi.org/MeteoWS/getLiveDeviceMeteoRequest" message="tns:getLiveDeviceMeteo" />
<output wsam:Action="http://soap.antbaric.nwtis.foi.org/MeteoWS/getLiveDeviceMeteoResponse" message="tns:getLiveDeviceMeteoResponse" />
</operation>
<operation name="getDeviceAddress">
<input wsam:Action="http://soap.antbaric.nwtis.foi.org/MeteoWS/getDeviceAddressRequest" message="tns:getDeviceAddress" />
<output wsam:Action="http://soap.antbaric.nwtis.foi.org/MeteoWS/getDeviceAddressResponse" message="tns:getDeviceAddressResponse" />
</operation>
<operation name="getLastDeviceMeteo">
<input wsam:Action="http://soap.antbaric.nwtis.foi.org/MeteoWS/getLastDeviceMeteoRequest" message="tns:getLastDeviceMeteo" />
<output wsam:Action="http://soap.antbaric.nwtis.foi.org/MeteoWS/getLastDeviceMeteoResponse" message="tns:getLastDeviceMeteoResponse" />
</operation>
</portType>
<binding name="MeteoWSPortBinding" type="tns:MeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getLatestDeviceMeteo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDeviceMeteoForInterval">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLiveDeviceMeteo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDeviceAddress">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLastDeviceMeteo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="MeteoWS">
<port name="MeteoWSPort" binding="tns:MeteoWSPortBinding">
<soap:address location="http://localhost:8084/antbaric_aplikacija_1/MeteoWS" />
</port>
</service>
</definitions>